@import url("../src/lib/variables.css");


body {
    margin: 0;
    /*font-family: 'ui-sans-serif', sans-serif !important;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
    height: 100vh;
}

.layout {
    padding: var(--padding-xxl);
    height: 100%;
}
main {
    height: 100%;
}
.row {
    height: 100%;
}

.container, .container-fluid {
    height: 100%;
    background-color: var(--background-color);
}

.sidebar-container {
    border-right: 1px solid var(--border-color);
}

.logo-placeholder {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-header {
    padding-top: 5%;
    display: flex;
    justify-content: space-around;
}

.navbar-header-title {
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-bold);
    align-items: center;
    display: flex;
    color: var(--text-color);
}

button {
    border: 0;
    background: transparent;
}

.navbar-tabs {
    display: flex;
    flex-direction: column;
    padding-top: var(--padding-l)
}

.navbar-tab {
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--padding-m)
}
.navbar-button-link {
    text-decoration: none;
    color: inherit;/**/
}
.nav-logo-placeholder {
    display: flex;
    height: 15%;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.theme-button {
    border-radius: 64px;
    padding: var(--padding-m) !important;
    width: 40px !important;
}

.theme-button:hover {
    background-color: var(--secondary-color);
}

.nav-argus-icon {
    height: 84px;
    width: 84px;
    background-color: var(--text-color);
    mask-image: url('assets/icons/logo-black.svg');
    mask-size: cover;
    -webkit-mask-image: url('assets/icons/logo-black.svg');
    -webkit-mask-size: cover;
}
.navbar-icon-moon {
    width: 24px;
    height: 24px;
    background-color: var(--text-color);
    mask-image: url('assets/icons/moon.svg');
    mask-size: cover;
    -webkit-mask-image: url('assets/icons/moon.svg');
    -webkit-mask-size: cover;
}

.navbar-icon-sun {
    width: 24px;
    height: 24px;
    background-color: var(--text-color);
    mask-image: url('assets/icons/sun.svg');
    mask-size: cover;
    -webkit-mask-image: url('assets/icons/sun.svg');
    -webkit-mask-size: cover;
}

.theme-button:hover .navbar-icon-moon {
    background-color: var(--text-color-reverse);
    transition: 0.3s;
}

.navbar-icon-house {
    width: 20px;
    height: 20px;
    background-color: var(--text-color);
    mask-image: url('assets/icons/house.svg');
    mask-size: cover;
    -webkit-mask-image: url('assets/icons/house.svg');
    -webkit-mask-size: cover;
}

.navbar-icon-tickets {
    width: 20px;
    height: 20px;
    background-color: var(--text-color);
    mask-image: url('assets/icons/tickets.svg');
    mask-size: cover;
    -webkit-mask-image: url('assets/icons/tickets.svg');
    -webkit-mask-size: cover;
}

.navbar-icon-graph {
    width: 20px;
    height: 20px;
    background-color: var(--text-color);
    mask-image: url('assets/icons/graph.svg');
    mask-size: cover;
    -webkit-mask-image: url('assets/icons/graph.svg');
    -webkit-mask-size: cover;
}

.navbar-icon-sensors {
    width: 20px;
    height: 20px;
    background-color: var(--text-color);
    mask-image: url('assets/icons/sensors.svg');
    mask-size: cover;
    -webkit-mask-image: url('assets/icons/sensors.svg');
    -webkit-mask-size: cover;
}

.navbar-icon-people {
    width: 20px;
    height: 20px;
    background-color: var(--text-color);
    mask-image: url('assets/icons/people.svg');
    mask-size: cover;
    -webkit-mask-image: url('assets/icons/people.svg');
    -webkit-mask-size: cover;
}

.navbar-icon-notifications {
    width: 20px;
    height: 20px;
    background-color: var(--text-color);
    mask-image: url('assets/icons/notification.svg');
    mask-size: cover;
    -webkit-mask-image: url('assets/icons/notification.svg');
    -webkit-mask-size: cover;
}

.navbar-icon-process {
    width: 18px;
    height: 20px;
    background-color: var(--text-color);
    mask-image: url('assets/icons/process.svg');
    mask-size: cover;
    -webkit-mask-image: url('assets/icons/process.svg');
    -webkit-mask-size: cover;
}

.navbar-icon-search {
    width: 20px;
    height: 20px;
    background-color: var(--text-color);
    mask-image: url('assets/icons/search.svg');
    mask-size: cover;
    -webkit-mask-image: url('assets/icons/search.svg');
    -webkit-mask-size: cover;
}

.navbar-name {
    padding-left: var(--padding-m);
    color: var(--text-color);
}

button {
    color: var(--text-color);
}

button:hover {
    transition: 0.3s;
    background-color: var(--accent-color)
}

h1, p, a {
    color: var(--text-color);
}

h1 {
    color: var(--text-color) !important;
}
.page-header {
    padding: var(--padding-l);
}

.page-header h1 {
    color: var(--primary-color) !important;
    font-weight: var(--font-weight-bold);
}

.page-header h2 {
    color: var(--text-color-secondary);
    font-size: var(--font-size-xl);
}
.dashboard-panel {
    padding-top: var(--padding-xl);
    display: flex;
    flex-wrap: wrap;
    gap: var(--padding-xl);
}
.dashboard-card {
    background: var(--card-background);
    border: 1px solid var(--border-color);
    border-radius: 16px;
    padding: var(--padding-xl);
    padding-bottom: var(--padding-xxl);
}

.dashboard-icon {
    display: flex;
    font-size: var(--font-size-xxl);
}

.dashboard-name {
    display: flex;
    color: var(--text-color);
    font-size: var(--font-size-xl);
    font-weight: 700;
}

.dashboard-desc {
    color: var(--text-color-secondary);
    text-align: left;
}

.page-toolbar {
    height: 64px;
    padding: var(--padding-l);
    background-color: var(--card-background);
    border-radius: 16px;
    border: 1px solid var(--border-color);
    display: flex;
    align-items: center;
}

.page-content {
    padding: var(--padding-l);
}

input {
    border: 1px solid var(--border-color) !important;
    border-radius: 4px;
}

.list-item {
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--card-background) !important;
}

.list-item:hover {
    background-color: var(--accent-color) !important;
}

.button {
    display: flex;
    padding: var(--padding-m);
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-color);
    height: fit-content;
    width: fit-content;
    min-width: 64px;
    min-height: 32px;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--text-color-reverse);
    font-weight: 400;
}

.button:hover {
    background-color: var(--primary-shadow);
}

.profile-bar {
    display: flex;
    align-items: center;
    max-height: 128px;
    max-width: 256px;
    position: fixed;
    right: 0;
    margin: 16px;
    background-color: var(--card-background);
    border-radius: 16px;
    padding: var(--padding-m);
    font-weight: 700;
    gap: 8px;
    border: 1px solid var(--border-color);
    color: var(--text-color);
}



.profile-picture {
    width: 28px;
    height: 24px;
    background-color: var(--text-color);
    mask-image: url('assets/icons/profile.svg');
    mask-size: cover;
    -webkit-mask-image: url('assets/icons/profile.svg');
    -webkit-mask-size: cover;
}

.profile-picture-placeholder {
    padding: var(--padding-m);
    border-radius: 64px;
    border: 1px solid var(--border-color);
}

.logout-button {
    width: 20px;
    height: 20px;
    background-color: var(--text-color);
    mask-image: url('assets/icons/logout.svg');
    mask-size: cover;
    -webkit-mask-image: url('assets/icons/logout.svg');
    -webkit-mask-size: cover;
}

.username {
    margin-left: 9px;
    margin-right: 16px;
    overflow: hidden;
}

.profile-bar button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 16px;
}

.login-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.login-container form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    max-width: 191px;
}

.login-logo {
    width: 128px;
    height: 128px;
    background-color: var(--text-color);
    mask-image: url('assets/icons/logo-black.svg');
    mask-size: cover;
    -webkit-mask-image: url('assets/icons/logo-black.svg');
    -webkit-mask-size: cover;
}

.login-title {
    font-weight: 700;
    font-size: 24px;
    color: var(--text-color);
}

.login-container button {
    width: 100%;
    padding: var(--padding-s);
}

.login-container input {
    background-color: var(--card-background);
    color: var(--text-color);
    padding: var(--padding-s);
}

.input-group {
    width: 100%;
}

.error-message {
    color: #ff4444;
    font-size: 0.8rem;
    text-align: center;
}

input.error, input.error:focus {
    border-color: #ff4444 !important;
}

.login-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
